<h3>Pass Task</h3>
<%= simple_form_for @task, url: task_pass_task2_url(@task), method: :post do |f| %>
  <%= f.input :resource_id, collection: @users, label_method: :full_name, value_method: :id %>
  <%= f.submit 'Pass Task', class: 'btn btn-primary white-text' %>
<% end %>
<br>
<%= render partial: 'pages/task_no_jq', collection: @tasks, as: 'task' %>
