
<p><strong><%= notification.sender.full_name %></strong> has changed the task status to <strong>Scheduled</strong></p>
<hr>
<p>
  <strong><%= notification.job.request_type.name %></strong> work for <strong><%= notification.job.client.name %></strong> due <strong><%= better_date2(notification.job.required_date) %></strong>
</p>
