
<p><strong><%= notification.sender.full_name %></strong> has changed the task status to <strong>With Issues</strong></p>
<hr>
<p>
  <strong><%= notification.task.request_type.name %></strong> work for <strong><%= notification.task.client.name %></strong> due <strong><%= better_date2(notification.task.required_date) %></strong>
</p>
