<div class="col-12 text-left">
  <div class="v-padding medium">
    <span class='small-index bg-warning'>Contact <%= @contact_persons.index(contact_person) + 1 %></span>
    <p><%= contact_person.full_name %></p>
    <%= contact_person.contact_number %>
  </div>
</div>
