<h3 class='text-center'><%= @client.name %></h3>
<div class="options-container text-center">
  <div class="row justify-content-center">
    <%= link_to 'ADD TARGET CLIENT', new_client_target_client_url(@client), class: 'option-button black-text bg-white' %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 v-padding large">
    <h4 class="text-left">Target Clients</h4>
    <div class="row">
      <%= render partial: 'target_client', collection: @target_clients, as: 'target_client' %>
    </div>
  </div>
</div>
