<div class="col-lg-2 col-md-3 d-none d-md-block">
  <div class="row h-padding v-padding large">
    <div class="col-12 text-center">
      <h3>Clients</h3>
    </div>
    <%= render partial: 'client', collection: @clients, as: 'client' %>
  </div>
</div>
