<div class="col-2">
  <div class="row h-padding v-padding large">
    <div class="col-12 text-center">
      <h3>Clients</h3>
    </div>
    <%= render partial: 'client', collection: @clients, as: 'client' %>
  </div>
</div>
