@font-face {
  font-family: "Quicksand Light";
  src: font-url('quicksand_light.ttf') format('truetype');
}

@font-face {
  font-family: "Quicksand Reg";
  src: font-url('Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Proxima Nova Reg";
   src: font-url('proxima_nova_regular.woff2') format('woff2'),
        font-url('proxima_nova_regular.ttf') format('truetype');
}

@font-face {
  font-family: "Proxima Nova Light";
  src: font-url('proxima_nova_light.woff2') format('woff2'),
       font-url('proxima_nova_light.ttf') format('truetype');
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: font-url('proxima_nova_bold.woff2') format('woff2'),
       font-url('proxima_nova_bold.ttf') format('truetype');
}

body {
  font-family: 'Quicksand Light';
}

.black-text {
  color: black;
}

.padding {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.v-padding {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  &.large {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &.medium {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.h-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.selection {
  min-width: 100% !important;
}

.selection:hover {
  background-color: $MINT_GREEN;
  text-decoration: none;
  color: white;
  min-width: 100% !important;
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $MINT_GREEN;
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  font-size: 11px;
  color: white;
  letter-spacing: 0.15em;
}

.main-button:hover {
  background-color: white;
  text-decoration: none;
}

.small-index {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $MINT_GREEN;
  height: 25px;
  width: 100px;
  border-radius: 20px;
  font-size: 11px;
  color: white;
  letter-spacing: 0.15em;
}

.medium-index {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $MINT_GREEN;
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  font-size: 11px;
  color: white;
  letter-spacing: 0.15em;
}

.space {
  min-height: 1rem;
}

.text_field {
  border: 1px solid grey;
}

.small-font {
  font-size: 14px;
}

.big-font {
  font-size: 16px;
}

.task-font {
  font-family: 'Proxima Nova Light';
}

.white-font {
  color: white;
}

strong {
  font-family: 'Quicksand Reg';
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.horizontal-max {
  min-width: 100%
}

.select-width {
  width: 70% !important;
}

.container.show {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.alert {
  margin: .5rem;
}
