// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Landing Pages

.options-container {
  background-color: $LAVENDER;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 100%;
}

.option-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  font-size: 11px;
  color: white;
  letter-spacing: 0.15em;
  background-color: $MINT_GREEN;
  margin-left: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.option-button:hover {
  background-color: $MINT_GREEN !important;
  border: 0;
  color: white;
  text-decoration: none;
}

.job-container {
  border-radius: 20px;
  // border: 0.5px solid grey;
  margin-bottom: 1rem;
  background-color: $LAVENDER;
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.job-container-pdf {
  font-size: 10px;
  // border: 0.5px solid grey;
  background-color: white;
  // padding: 1.5rem 0rem 1.5rem 0rem;
  &p {
    font-family: 'Proxima Nova Light';
    font-size: 10px;
    line-height: 1.1px;
  }
}

.job-container:hover {
  background-color: $MINT_GREEN;
  color: white;
  cursor: pointer;
}

.job-second-option {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  color: black;
  margin-bottom: 1rem;
}

.job-first a:hover {
  color: black;
}

.btn.btn-primary.btn-sm {
  color: white;
}

span.thick {
  font-family: 'Proxima Nova Bold';
}

hr.pdf {
  margin-bottom: 10px;
}
