<div class="options-container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <%= link_to 'LOCATION REPORT', location_report_url, class: 'option-button black-text bg-white' %>
    </div>
  </div>
</div>
